################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs
/weatherapp/.vs/weatherapp
/weatherapp/.vs/ProjectEvaluation
